<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>107742587364-dbav4s6j784ejer2jafhhn1dkkv0o0fi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.107742587364-dbav4s6j784ejer2jafhhn1dkkv0o0fi</string>
	<key>API_KEY</key>
	<string>AIzaSyAsxV687lcm-_epZHmnz8PED4NA2pwjHd4</string>
	<key>GCM_SENDER_ID</key>
	<string>107742587364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>user.GifySampleProject.ios</string>
	<key>PROJECT_ID</key>
	<string>giphy-77631</string>
	<key>STORAGE_BUCKET</key>
	<string>giphy-77631.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107742587364:ios:740e3e87ed9e99d0093ff1</string>
	<key>DATABASE_URL</key>
	<string>https://giphy-77631.firebaseio.com</string>
</dict>
</plist>